
<footer class="footer-container">
    <hr width="50px">
    <div >
         <a href="#" >
          <img src="/images/movie.png" alt="Movie Icon" >
          
        </a> 
     </div>
     <div>
         <h6>Thank you for visiting site.</h6>
     </div>
     <hr width="50px">
</footer>