<div>
{{#if message}}
    <div class="{{messageClass}}" >
      {{#each message}}
         {{this}}
      {{/each}}
    </div>
{{/if}}
</div>

<div>
   <h2 style="text-align: center;"> {{title}} </h2>
</div>
<div class="selection">
<form id="titlelistform" class="formListMovies">
<input type="text" id= "selecttitle"  placeholder="search for movies" title = "type a movie name">
  <button type="submit" id="getMoviestitle"><i class="fa fa-search"></i>Search</button>
</form>
<p style="float:left">OR</p>
<form id="Genrelistform" class="formListMovies">

<select id="selectGenre" title="Select Genre..">
  <option value="0">Select Genre ..</option>
  <option value="Action">Action</option>
  <option value="Adventure">Adventure</option>
  <option value="Animation">Animation</option>
  <option value="Biography">Biography</option>
  <option value="Comedy">Comedy</option>
  <option value="Crime">Crime</option>
  <option value="Family">Family</option>
  <option value="Horror">Horror</option>
  <option value="Musical">Musical</option>
  <option value="Mystery">Mystery</option>
  <option value="Romance">Romance</option>
  <option value="Sci-Fi">Sci-Fi</option>
  <option value="Thriller">Thriller</option>
</select>
<button type="submit" id="getMoviesGenres"><i class="fa fa-search"></i>Search</button>
</form>
</div>

<div id="movies"> </div>
<div class="messageBox" id="messageBox" style=" display:none;border-style: solid;border-color: #6f40ce;">
      <img src="/images/movie.png" alt="Movie Icon" style="max-width: 100px; height : 30px;  padding:5px;"> 
      <p id="alertmsg"> </p>
      <button id="ok"> OK </button>
</div>
   
{{> footer }}

{{!-- <img  src="/images/movie.png" alt="Movie Icon /> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>

window.addEventListener('load', async (event) => {
  console.log('page is fully loaded');

fetch('https://yts.mx/api/v2/list_movies.jsonp',{dataType: 'jsonp'})
.then(response => response.json())
.then(data => {
   if(data.status=="ok")
    {
      htmloutputrender(data);
    }
})
.catch(error => console.error(error))
})


  $("#Genrelistform").submit(function(e){
    e.preventDefault()
    genreselval=$( "#selectGenre option:selected" ).val();
    console.log(genreselval);
    
    if(genreselval==0)
      displayAlert("Select Genre")
    else
    {
      // ajax call to yts site based on selected genre 
      ytsurl = "https://yts.mx/api/v2/list_movies.jsonp?genre="+genreselval;
     
      $.get(ytsurl, function(data, status){
        console.log(data.status)
        if(data.status=="ok")
            {
                 htmloutputrender(data);
            }
      });
    }
  }) // end of click
  async function htmloutputrender(data)
  {
    listOfMovies = data.data.movies;
    var outputHtml= "<div class='movies'> "
    for(movieIndex in listOfMovies)
    { 
      movieId=listOfMovies[movieIndex].id;
      comunityScroe = ' '; 
       await $.get("http://localhost:3000/moviescore/"+movieId, function(data, status){
              comunityScroe=data;
       });
      
      outputHtml += 
     '<div class = "movieListitem">' +
         "<a href=http://localhost:3000/MovieDetail/"+listOfMovies[movieIndex].id+"><img src="+listOfMovies[movieIndex].medium_cover_image+"> </a>" +
         "<p>Title :"+listOfMovies[movieIndex].title+"</p>" +
         "<p>Genres :"+listOfMovies[movieIndex].genres+"</p>"+
         "<p>Community Score :"+comunityScroe+"</p>"+
      '</div>'
    }
    document.getElementById('movies').innerHTML = outputHtml;
  }

$("#titlelistform").submit(function(e){
    e.preventDefault()
    titleval=$("#selecttitle").val();
    if(titleval=="")
      displayAlert("Pl. Enter Title")
    else
    {
      // ajax call to yts site
     ytsurl = "https://yts.mx/api/v2/list_movies.jsonp?query_term=" +titleval;
      
      $.get(ytsurl, function(data, status){
        console.log(data.status)
        if(data.status=="ok")
            {
                      htmloutputrender(data);
            }
    });
    }
})
$("#messageBox").click(function()
  {
    $("#messageBox").hide()
    $("#addRatingForm").hide()
    // retrive updated community score    
    $.get("/moviescore/"+movieId, function(data, status){
      $("#communityScore").text(data)
    });
  })

$(document).ajaxError(function(){
  
  displayAlert("Fail to call yts.mx/api/ server / Pl.try with Mobile data Network!!");
 /* alert("Ajax error occurred!  Pl.try with Mobile data Network / Check Database connection")*/
  });
  function displayAlert(alertmsg)
  {
    $("#messageBox").show()
    $("#alertmsg").text(alertmsg);
       $(".messageBox").animate({
            width: "300px",
            height: "150px",
            marginLeft: "150px",
            borderWidth: "10px",
            padding:"10px",
            opacity: 0.8
    
        });
  }
</script>